gingerbreadhouse/gingerbreadchip/GingerbreadChipTests/Debug/
gingerbreadhouse/gingerbreadmobile/android/app/build/
*vcxproj.user
gingerbreadhouse/gingerbreadchip/GingerbreadChip/__vm/
index.android.bundle
**/keystores/*
